<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>轻创文学网-目录页</title>
		<link rel="stylesheet" href="../css/main.css" />
		<link rel="stylesheet" href="../css/catalog.css" />
    	<link rel="stylesheet" href="../css/headerOrFooter.css" />
		<link rel="stylesheet" href="../css/LOgin.css" />
		<link rel="stylesheet" href="../css/jquery-ui.min.css" />
	</head>
	<script type="text/javascript" src="../js/vue.js"></script>
	<body id="mask" id="app"
			v-bind:style="popup === true? 'overflow:hidden':''">

	  <myheader></myheader>
		<div id="search"></div>
		<div class="index" >
			<div class="index_Line"></div>
			<img class="picture" src="../img/sss2.jpg"/>
			<div class="text">
			
				<h1>{{ title }}</h1>
				<ul class="text_ul">
					<li>字数: <span style="color:#7e7e7e">{{words}}</span></li>
					<li>点击: <span style="color:#7e7e7e">{{cursor}}</span></li>
					<li>更新: <span style="color:#7e7e7e">{{update}}</span></li>
				</ul>
				<div class="text_brief">
						<p title="一名胆小的高二数学天才小矶健二在学一名胆小的高二数学天才小矶健二在学姊筱原夏希的拜托之下，一 同前往她祖母位于上田市的宅邸来庆祝曾祖母的90岁生日所发生的一连串
						一名胆小的高二数学天才小矶健二在学一名胆小的高二数学天才小矶健二在学姊筱原夏希的拜托之下，一 同前往她祖母位于上田市的宅邸来庆祝曾祖母的90岁生日所发生的一
						一名胆小的高二数学天才小矶健二">简介：{{introduction}}
						</p>
					<div class="text_type">
						<ul>
							<li>分类：</li>
							<li><span class="text_span">恋爱</span></li>
							<li><span class="text_span">科幻</span></li>
							<li><span class="text_span">冒险</span></li>
						</ul>
					</div>
					<div class="text_reading">
						<ul>
							<li><a class="text_Read btn" href="javascript:;">开始阅读</a></li>
							<li><span><img src="../img/sss4.png"/ class="text_Collection"><p>收藏作品</p><num>5048</num></li>
							<li v-on:click="rewardFn"><span><img src="../img/sss3.png"/ class="text_card"><p>好人卡</p><num>1584</num></li>
						</ul>
					</div>
				</div>
			</div>
				<div class="text_Catalog"  v-bind:class="['BookList']">
					<ul>
						<li class="text_mark"></li>
						<li ><b>{{titleName}}</b></li>
					</ul>
					<div class="text_chapter" v-bind:class="['list']">
						
						
							<div class="group"><span class="text_sign"></span><a href="javascript:;">{{name}}</a></div>
							

					</div>
					
					
				</div>
				
				
				<div class="text_comment">
						<ul>
							<li><span>1982</span></li>
							<li>评论</li>
						</ul>
					</div>
				<div class="text_input">
					<ul>
						<li><a href="javascript:;"><img src="../img/sss8.jpg"/></a></li>
						<li><textarea></textarea></li>
					</ul>
					<a class="text_Submit" href="javascript:;">评论</a>
					<div class="text_chart">
						<a href="javascript:;"><img src="../img/sss6.jpg" style="padding: 0 12px 0 0;"/></a>
						<a href="javascript:;"><img src="../img/sss5.jpg" /></a>
					</div>	
					<div class="text_sort active">
						<ul>
							<li class="active">默认排序</li>
							<li>按回复数量</li>
							<li>按赞同数</li>
						</ul>
					</div>
					<div class="text_user">
						<a href="javascript:;"><img src="../img/sss8.jpg"/ ></a>
						<ul>
							<li>
								<a href="javascript:;" class="user_a" title="我是我是我我是我是我我是我是我我是我是我我是我是我我是我是我我是">huhuhf5</a>
								<a href="javascript:;" class="user_Top">置顶</a></li>
							<li><span class="user_comment" title="我是比企······我是比企谷八幡比企谷八幡比企谷八幡比企谷八幡比企谷八幡比企谷八幡比企谷八幡比%#￥%#~~~~~~~~~~~·······我是比企谷八幡比企谷八幡比企谷八幡比企谷八幡比企谷八幡比企谷八幡">
									我是比企······我是比企谷八幡比企谷八幡比企谷八幡比企谷八幡比企谷八幡比企谷八幡比企谷八幡比%#￥%#~~~~~~~~~~~·······我是比企谷八幡比企谷八幡比企谷八幡比企谷八幡比企谷八幡比企谷八幡比企谷八幡比%#￥%#~幡····················！@#￥！@￥@#比企谷八幡比企谷八幡比企谷八幡比企谷八幡比企谷八幡比企谷八幡比企谷八幡比企谷八幡比企谷八幡
								</span>
							</li>	
						</ul>
					<div class="text_Open">
							<a href="javascript:;" ><img src="../img/sss23.png"/></a>
							<a href="javascript:;" ><text>展开全文</text></a>
					</div>
					<div class="text_Stop">
						<ul>
							<li>8月16日</li>
							<li>15：46</li>
							<li class="Stop_Reply">收起回复</li>
						</ul>
					</div>
					<div class="text_Reply">
						
					</div>
					<div class="Reply_Underline"></div>
				</div>
				<div class="text_user active">
						
					<div class="Reply_Underline"></div>
				</div>
				
					
			</div>
			
			
			<div class="screen">
				<h2>作者相关</h2>
				<a href="javascript:;"><img src="../img/sss10.png"/ class="head"></a>
				<ul class="author">
					<li><label>作者：</label>
						<a href="javascript:;" class="span span_author" title="我是我是我我是我是我我是我是我我是我是我我是我是我我是我是我我是">我是我是我我是我是我我是我是我我是我是我我是我是我我是我是我我是</a>
						<a class="a_author" href="javascript:;">关注</a>
					</li>
					<li><label>签名：</label><span class="span" title="我是我是我我是我是我我是我是我我是我是我我是我是我我是我是我我是">巴拉拉小魔仙~~巴拉拉小魔仙~~巴拉拉小魔仙~~巴拉拉小魔仙~~巴拉拉小魔仙~~</span></li>
				</ul>
				<style>
					
				</style>
				<div class="works">
					<h3>其他作品</h3>
					<div class="button">
						<button class="next"><img src="../img/sss12.png"/></button>
						<button class="Previous"><img src="../img/sss13.png"/></button>
					</div>
					<ul>
						<li>
							<a href="javascript:;"><img src="../img/sss11.png"/></a>
							<a class="works_a" href="javascript:;" class="span span_author" title="我是我是我我是我是我我是我是我我是我是我我是我是我我是我是我我是">夏日小作战</a>
						</li>
						<li><a href="javascript:;"><img src="../img/sss11.png"/></a>
							<a class="works_a" href="javascript:;" title="夏日小作战夏日小作战夏日小作战">夏日小作战夏日小作战</a>
						</li>
						<li>
							<a href="javascript:;"><img src="../img/sss11.png"/></a>
						<a class="works_a" href="javascript:;" title="夏日小作战夏日小作战夏日小作战">夏日小作战</a>
						</li>
					</ul>
				</div>
				<div class="list">
					<h2>好人榜</h2>
					<ul class="list_ul">
						<li>周</li>
						<li>月</li>
						<li class="active">总</li>
					</ul>
					<div class="ranking">
						<div class="relative">
							<img src="../img/sss19.png" class="ranking_Img_line"/>
							<a href="javascript:;"><img src="../img/sss22.png" class="ranking_head"/></a>
							<ul>
								<li><a class="works_a" href="javascript:;" title="比企谷八幡比企谷八幡比企谷八幡"><b>比企谷八幡比企谷八幡</b></a></li>
								<li class="name"><a class="works_a" href="javascript:;" title="比企谷八幡比企谷八幡比企谷八幡">比企谷八幡</a></li>
								<li class="num"><img src="../img/sss15.png"/>好人币</li>
								<li class="num_money"><span class="money">42357</span></li>
							</ul>
						</div>
						<div class="ranking_name relative">
							<img src="../img/sss20.png" class="ranking_Img_line"/>
							<a href="javascript:;"><img src="../img/sss10.png" class="ranking_head"/></a>
							<ul>
								<li><a class="works_a" href="javascript:;" title="比企谷八幡比企谷八幡比企谷八幡"><b>比企谷八幡</b></a></li>
								<li class="name"><a class="works_a" href="javascript:;" title="比企谷八幡比企谷八幡比企谷八幡">比企谷八幡</a></li>
								<li class="num" style="color: #3781E7;"><img src="../img/sss16.png"/>好人币</li>
								<li class="num_money"><span class="money" style="color: #3781E7;">42357</span></li>
							</ul>
						</div>
						<div class="ranking_name relative">
							<img src="../img/sss21.png" class="ranking_Img_line"/>
							<a href="javascript:;"><img src="../img/sss14.png" class="ranking_head"/></a>
							<ul>
								<li><a class="works_a" href="javascript:;" title="比企谷八幡比企谷八幡比企谷八幡"><b>比企谷八幡</b></a></li>
								<li class="name"><a class="works_a" href="javascript:;" title="比企谷八幡比企谷八幡比企谷八幡">比企谷八幡</a></li>
								<li class="num"style="color: #08a690;"><img src="../img/sss17.png"/>好人币</li>
								<li class="num_money"><span class="money" style="color:#08a690;">42357</span></li>
							</ul>
						</div>
						<div class="rank">
							<ul >
								<li><a class="rank_a" href="javascript:;" title="比企谷八幡比企谷八幡比企谷八幡"><span class="rank_span">4</span><span class="rank_Title">封弊者</span></a></li>
								<li class="rank_num">340</li>
							</ul>
							<ul >
								<li><a class="rank_a" href="javascript:;" title="比企谷八幡比企谷八幡比企谷八幡"><span class="rank_span">5</span><span class="rank_Title">凤凰园凶真</span></a></li>
								<li class="rank_num">22</li>
							</ul>
							<ul >
								<li><a class="rank_a" href="javascript:;" title="比企谷八幡比企谷八幡比企谷八幡"><span class="rank_span">6</span><span class="rank_Title">封弊者</span></a></li>
								<li class="rank_num">12</li>
							</ul>
							<ul >
								<li><a class="rank_a" href="javascript:;" title="比企谷八幡比企谷八幡比企谷八幡"><span class="rank_span">7</span><span class="rank_Title">凤凰园凶真</span></a></li>
								<li class="rank_num">2</li>
							</ul>
							<ul >
								<li><a class="rank_a" href="javascript:;" title="比企谷八幡比企谷八幡比企谷八幡"><span class="rank_span">8</span><span class="rank_Title">凤凰园凶真</span></a></li>
								<li class="rank_num">2</li>
							</ul>
							<ul >
								<li><a class="rank_a" href="javascript:;" title="比企谷八幡比企谷八幡比企谷八幡"><span class="rank_span">9</span><span class="rank_Title">凤凰园凶真</span></a></li>
								<li class="rank_num">2</li>
							</ul>
							<ul >
								<li><a class="rank_a" href="javascript:;" title="比企谷八幡比企谷八幡比企谷八幡"><span class="rank_span">10</span><span class="rank_Title">凤凰园凶真</span></a></li>
								<li class="rank_num">2</li>
							</ul>
							<ul >
								<li><a class="rank_a" href="javascript:;" title="比企谷八幡比企谷八幡比企谷八幡"><span class="rank_span">11</span><span class="rank_Title">凤凰园凶真</span></a></li>
								<li class="rank_num">2</li>
							</ul>
						</div>
					</div>
					<div id="more"><a>查看更多</a></div>
				</div>
				<div id="recommed">
					<h2>同类作品推荐</h2>
					<ul class="many">
						<li><a  href="javascript:;" title="比企谷八幡比企谷八幡比企谷八幡" style="color: #000000;">更多</a></li>
					</ul>
					<div class="recommed_works">
						<div>
							<a href="javascript:;" title="比企谷八幡比企谷八幡比企谷八幡"><img src="../img/sss18.png"/></a>
							<h4>夏日小作战</h4>
							<ul>
								<li>字数：<span style="color:#7e7e7e">50万</span></li>
								<li>人气：<span style="color:#7e7e7e">155443</span></li>
								<li>作者：<span style="color:#7e7e7e" class="works_span" title="比企谷八幡比企谷八幡比企谷八幡">huhuf8</span></li>
							</ul>
						</div>
					</div>
					<div class="recommed_works">
						<div>
							<a href="javascript:;" title="比企谷八幡比企谷八幡比企谷八幡"><img src="../img/sss18.png"/></a>
							<h4>夏日小作战</h4>
							<ul>
								<li>字数：<span style="color:#7e7e7e">50万</span></li>
								<li>人气：<span style="color:#7e7e7e">155443</span></li>
								<li>作者：<span style="color:#7e7e7e" class="works_span" title="比企谷八幡比企谷八幡比企谷八幡">huhuf8</span></li>
							</ul>
						</div>
					</div>
					<div class="recommed_Title">
						<ul>
							<li><a class="Title_a" href="javascript:;" title="比企谷八幡比企谷八幡比企谷八幡">幻城之巴拉啦老魔仙</a></li>
							<li><a class="Title_a" href="javascript:;" title="比企谷八幡比企谷八幡比企谷八幡">巴拉拉小魔仙奇遇记</a></li>
							<li><a class="Title_a" href="javascript:;" title="比企谷八幡比企谷八幡比企谷八幡">舞法舞天巴拉拉小魔仙</a></li>
						</ul>
					</div>
					</div>
			</div>
		</div>
		<div 
			v-if="popup" 
			v-on:click="rewardFn"
			style="position: fixed;top: 50%;bottom: 0px;left: 0px;right: 0px; ">
			<div class="reward" >
				<div class="reward_cancel"><img src="../img/card-8.png"/ v-on:click="rewardShow"></div>
				<h4>这本书超赞，我要打赏他<span>(づ￣3￣)づ╭❤～</span></h4>
				<div class="reward_Num">
					<label>选择打赏的数量：</label>		
					<ul>	
						<li><a><img src="../img/card-1.png" />X10</a></li>
						<li class="reward_Choice"><a><img src="../img/card-2.png" /><img src="../img/card-7.png" class="Choice_img"/>X20</a></li>
						<li><a><img src="../img/card-3.png" />X30</a></li>
						<li><a><img src="../img/card-4.png" />X40</a></li>
						<li><a><img src="../img/card-5.png" />X50</a></li>
						<li><a><img src="../img/card-6.png" />X60</a></li>
					</ul>
					<p><textarea>自定义</textarea>X<img src="../img/card-1.png"/></p>
					<a class="reward_Pay btn">立刻打赏！</a>
				</div>	
				<a class="reward_Recharge">充值></a>
				<a class="reward_My">我的好人卡：1000</a>
			</div>
		</div>

	  <myfooter></myfooter>
	<script src="../js/apis/vueHttp.js"></script>
  	<script src="../js/apis/conf.js"></script>
	<script type="text/javascript" src="../js/vue.min.js" ></script>
	<script type="text/javascript" src="../js/vue-resource.min.js" ></script>
 	<script type="text/javascript" src="../js/vue-router.min.js" ></script>
 	
	<script type="text/javascript" src="../js/components/header.js" ></script>
	<script type="text/javascript" src="../js/components/footer.js" ></script>
	<script type="text/javascript" src="../js/require/headerOrfooter.js"></script>	
	</body>
	<script>
		var vuePractice = new Vue({
			el: '#mask',
			data: {
				popup:false,
				id: '',
				title: '111',
				words:'70万',
				cursor:'245466',
				update:'2016-10-10',
				introduction:'一名胆小的高二数学天才小矶健二在学一名胆小的高二数学天才小矶健二在学姊筱原夏希的拜托之下，一 同前往她祖母位于上田市的宅邸来庆祝曾祖母的90岁生日所发生的一',
				BookList: [
				{ titleName: '111', list: [ { name: '222' } ,{ name: '222' } ,{ name: '222' } ,{ name: '222' } ] },
				{ titleName: '222', list: [ { name: '222' } ] },
				{ titleName: '333', list: [ { name: '222' } ] },
				{ titleName: '444', list: [ { name: '222' } ] },
				],
			},
			methods: {
				getValueFn: function() {
					var href = window.location.href;
            		this.id = href.substring(href.lastIndexOf('?bookId=') + 8, href.length);
            		var _data = {};
            		_data.bookId = this.id;
			        SZXJ.http('get', PathList.queryBookDirectory, _data, (response) => {
			        	// 取到数据渲染
			        	 this.title = response.data.bookName;
			        	 this.introduction =prsponse.data.bookIntroduction;
			        	 this.words =response.data.bookWordCount;
			        	 this.update = response.data.bookUpdate;
			        	 this.cursor = response.data.bookHit;
			        	 this.BookList = response.data.volumeCustomList;
			        	 this.titleName = response.data.volumeName;	
			        	 this.list = response.data.contentEntityList;	
			        	 this.name = response.data.contentTitle;	
			           console.log(response);
			        });
				},
				rewardFn: function(){
					this.popup = true;
				},
				rewardShow: function(){
					this.popup = false;
				}
			},
			ready: function() {
				this.getValueFn();
			},
		});
		
	</script>
</html>
