<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>轻创文学网-分类页</title>
    <link rel="stylesheet" href="../css/main.css" />
    <link rel="stylesheet" href="../css/headerOrFooter.css" />
		<link rel="stylesheet" href="../css/main.css" />
		<link rel="stylesheet" href="../css/LOgin.css" />
		<link rel="stylesheet" href="../css/jquery-ui.min.css" />
  </head>
  <body class="class-body" id="app">
    <myheader></myheader>
    <div class="class-content">
      <div class="class-title">
        <div class="class-title-line">
          <label class="class-label">排序:</label>
          <div class="pull-left">
            <span @click="newbookFn(obj.id)" :class="RequestObj.sort == obj.id ? 'active': '' " v-for="obj in obj.newBook">{{obj.name}}</span>
            
          </div>
          <ol class="pull-right vertical-transverse">
            <li v-if="hengshuId == 2" @click="setHengshu(1)"><img src="../img/class1-1.png" /></li>
            <li v-if="hengshuId == 2" ><img src="../img/class2-2.png" / ></li>
            <li v-if="hengshuId == 1" ><img src="../img/class1-2.png" /></li>  
            <li v-if="hengshuId == 1" @click="setHengshu(2)"><img src="../img/class2-1.png" / ></li>
          </ol>
        </div>
        <div class="class-title-line">
          <label class="class-label" >分类:</label>
          <ul class="class-label-ul">
            <li 
              @click="sortFn(obj.bookTypeId)" 
              :class="RequestObj.bookTypeId == obj.bookTypeId ? 'active': ''" 
              v-for="obj in obj.sort"
              >{{ obj.bookTypeName }}</li>
           
          </ul>
        </div>
        <div class="class-title-line">
          <label class="class-label">字数:</label>
          <ul class="class-label-ul">
            <li @click="fontsizeFn(obj.min, obj.max, obj.id)" :class="fontsizeId == obj.id ? 'active':''"  v-for="obj in obj.fontsize">{{obj.name}}</li>
           
          </ul>
        </div>
       <div class="class-title-line">
          <label class="class-label" >签约:</label>
          <div class="pull-left">
          <span @click="qianyueFn(obj.id)" :class="RequestObj.isSign === obj.id ? 'active': ''"  v-for="obj in obj.qianyue">{{obj.name}}</span>
          </div>
          <div class="pull-right relative">
          	<input type="text" class="class-btn-search-input" v-model="RequestObj.Keyword" />
          	<i class="class-search-img"></i><a class="btn class-btn-search" @click="getValueFn">搜索</a></div>
        </div>
      </div>
      <!--
      	作者：275120399@qq.com
      	时间：2016-09-12
      	描述：下面是横向导航部分
      -->
      <ul id="transverse" v-if="hengshuId === 2" >
      	
        <li class="line active" v-for="obj in bookInfo" >
          <img :src="page.rootPath + ''" class="line-img pull-left" :herf="PathList.TemprootPath+ '/view/catalog.html?bookId='bookName.id">
          <div class="pull-left line-content" >
            <p class="p" title="夏日大作战" :herf="PathList.TemprootPath+ '/view/catalog.html?bookId='bookName.id">{{ obj.bookName }}</p>
            <div class="div">
              <span class="span" title="作者:paipi酱我我我我我我我"><label>作者:</label>{{obj.author}}</span>
              <span class="span" title="画师:paipi酱我我我我我我我"><label>画师:</label>dhjshdjshj</span>
              <span class="span" title="字数:3000000"><label>字数:</label>{{ obj.bookWordCount }}</span>
              <span class="span" title="人气:3000000"><label>人气:</label>{{ obj.bookHit }}</span>
            </div>
            <p class="p-2"title="一名胆小的高二数学天才小矶健二在学姊筱原夏希的拜托之下，一同前往她祖母位于上田市的宅邸来庆祝曾祖母的90岁生日所发生的一连串故事。健二在偶然的机遇下解开一个">
              <label>简介:</label>{{ obj.bookIntroduction }}</p>
            <div class="div">
              <span class="span" title="最新卷:78卷"><label>最新卷:</label>{{obj.volumeEntity.volumeName}}</span>
              <span class="span" title="最新更新:2016-9-13"><label>最新更新:</label>{{ obj.bookUpdate }}</span>
            </div>
          </div>
        </li>
        
        
        
      </ul>
      
      
      
 
      
      <ul id="vertical" v-if="hengshuId === 1">
        <li class="line-vertical" v-for="obj in verticalBoookClass">
        	<ul>
        		<li v-for="temp in obj">
        			<div class="vertical-img">
        				<img src="../img/150x210.jpg" class="cover"/>
        				<div class="vertical-img-line">
        					<img src="../img/50x50-tou.jpg" />
        					<div class="vertical-Author-name vertical-hover">huhuf6我我我我我我我我我</div>
        					<div class="vertical-font-size vertical-hover"><label>字数:</label>{{ obj[0].bookWordCount }}</div>
        					<div class="vertical-click-size vertical-hover"><label>点击:</label>{{ obj.bookHit }}</div>
        					<div class="vertical-collection-size vertical-hover"><label>收藏:</label>16万我我我我我我我我我</div>
        					<div class="vertical-a-reward vertical-hover"><label>打赏:</label>50000我s我s我s我s我s我s我s我s我s我s我s我s我</div>
        				</div>
        			</div>
        			<div class="vertical-title" title="夏日大作战夏日大作战夏日大作战">{{ obj.bookName }}</div>
        		</li>
        	</ul>	
        </li>
        </ul>

      <div id="page" class="page">
      	<ul>
      		<li class="btn" @click="setPage((RequestObj.pageNo - 1) >= 1 ? (RequestObj.pageNo - 1) : 1)"><a>上一页</a></li>
      		<li v-if="(($index + 1) <= 5 && RequestObj.pageNo < 3 || (($index + 1) > RequestObj.pageNo - 3 &&  $index < RequestObj.pageNo)) || ( (($index + 1) <= RequestObj.pageNo + 2 &&　($index + 1) > RequestObj.pageNo) || (RequestObj.pageNo > obj.pageCount - 3 && ($index + 6) > obj.pageCount) )"
      			:class="objTemp == RequestObj.pageNo? 'active':''" v-for="objTemp in page" @click="setPage(objTemp)"><a>{{ objTemp }}</a></li>
      		<li class="btn" @click="setPage((RequestObj.pageNo + 1) <= obj.pageCount ? (RequestObj.pageNo + 1) : obj.pageCount)"><a>下一页</a></li>
      		<li class="goto"><input type="text" v-el:gotoPage /><span>{{ RequestObj.pageNo }}/{{ obj.pageCount }}</span><a class="btn">转页</a></li>
      	</ul>
      </div>
    </div>
   <myfooter></myfooter>
		
  </body>
  <script src="../js/apis/vueHttp.js"></script>
  <script src="../js/apis/conf.js"></script>
  <script type="text/javascript" src="../js/vue.min.js" ></script>
	<script type="text/javascript" src="../js/vue-resource.min.js" ></script>
 	<script type="text/javascript" src="../js/vue-router.min.js" ></script>
	
	<!--<script type="text/javascript" src="../js/components/header.js" ></script>
	<script type="text/javascript" src="../js/components/footer.js" ></script>
	<script type="text/javascript" src="../js/require/headerOrfooter.js"></script>-->
	

	
<script type="text/javascript">
	var vuePractice = new Vue({
			el: '#app',
			data: {
				page: PathList,
				hengshuId:2, // 横竖显示
				fontsizeId: 0,
				bookTypeClass:[],
				horizontalBoookClass:[],
				verticalBoookClass: [],
				page: [],
				bookInfo:[],
				RequestObj: {
				  sort: 0, // 排序 ： id
				  bookTypeId: '', // 分类 id
				  wordMin: 0,
				  wordMax: '',
				  isSign: 0,
				  Keyword: '', // 搜索的书名
          pageNo: 1, // 页码
          pageSize: 11,
        },
				obj: {
				  newBook: [{name: '最新', id: 0} ,{name: '最热', id: 1} ],
				  sort:[], // 分类
				  fontsize:[
				  {name: '全部', min: 0, max: '' , id : 0 }
				  ,{name: '10万字以下', min: 0, max: 100000 , id : 1 }
				  ,{name: '10-30万字', min: 100000, max: 300000 , id : 2 }
				  ,{name: '50-100万字', min:500000, max: 1000000  , id : 3 }
				  ,{name: '一百万字以上', min: 1000000, max: ""  , id : 4 }
				  ], // 字数
				  qianyue:[{name: '精品作品', id: 0},{name: '签约作品', id: 1}], // 签约 
				  hengshu:[{name: '横', id: 1},{name: '竖', id: 2}], // 横竖
				  value: '', // 搜索的书名
				  p: 1, // 页码
				  n: 12,
				  pageCount: 0,
				}
			},
			methods: {
				setPageCount: function(v) {
					var obj = this.obj;
         	obj.pageCount =  v;
          this.page = [];
          for (var i = 0; i < obj.pageCount; i++) {
          	this.page.push(i+1);
          }
          this.$set('obj', obj);
				},
				setPage: function(v) {
					var obj = this.RequestObj;
					obj.pageNo = v;
					this.$set('RequestObj', obj);
					this.getValueFn(); // 请求
				},
				setHengshu: function(v) { // 横竖切换显示
					this.$set('hengshuId', v);
				},
				getValueFn: function() {
				  // alert(JSON.stringify(this.RequestObj));
          SZXJ.http('get', PathList.queryBookClass, this.RequestObj, (response) => {
          	this.bookInfo = response.data.bookInfo;
          	this.horizontalBoookClass = response.data.bookInfo;
          	console.log(response.data.bookInfo.length);
          	var arr = [];
          	if (response.data.bookInfo.length % 4 === 0) {
         			for (var i = 1; i <= response.data.bookInfo.length;i++) {
         				arr.push(response.data.bookInfo[i]);
         				if (i % 4 === 0) {
         					this.verticalBoookClass.push(arr);
         					arr = [];
         				}
        			}
        		} else {
        			for (var i = 1; i <= response.data.bookInfo.length;i++) {
         				arr.push(response.data.bookInfo[i]);
         				if (i % 4 === 0) {
         					this.verticalBoookClass.push(arr);
         					arr = [];
         				}
         				if (i === response.data.bookInfo.length) {
         					this.verticalBoookClass.push(arr);
         				}
        			}
        		}
          	console.log(this.verticalBoookClass);
          	this.setPageCount(response.data.totalPage);
					});
				},
				sortFn: function(id) {
				  this.RequestObj.bookTypeId = id;
				  this.getValueFn(); // 请求
				},
				newbookFn: function(id) { // 排序方法
				  this.RequestObj.sort = id;
				  this.getValueFn();
				},
				fontsizeFn: function (min, max, id) { // 请求字数区间的
					this.fontsizeId = id;
					this.RequestObj.wordMin = min;
					this.RequestObj.wordMax = max;
				  this.getValueFn();
				},
				qianyueFn: function(id) { // 签约与否的
				  this.RequestObj.isSign= id;
				  this.getValueFn();
				},
			},
			ready: function() {
				SZXJ.http('get', PathList.queryBookType, {}, (response) => {
          var obj = this.obj;
					obj.sort = response.data;
					var temp = {};          
					temp.bookTypeName = '全部'
          temp.bookTypeId = '';
          temp.bookTypeDescription = '';
					obj.sort.unshift(temp);
					this.$set('obj', obj);
				});
				this.getValueFn(); 
			},
	  });
</script>
	
</html>
