<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>轻创文学网-密码找回页</title>
	</head>
	<link rel="stylesheet" href="../css/jquery-ui.min.css" />
	<body>
	<iframe id="qcacg-header" style="position: relative;z-index: 2;height: 56px;width: 100%;min-width:1200px;border: 0px;overflow: hidden;" src="../public/public-header.html"></iframe>
	<div style="position: relative;width: 100%;min-width: 1200px;">
		<img src="../img/background-jpg.jpg" style="margin-top: -55px;width: 100%;"/>
	</div>
	<iframe style="height: 240px;width: 100%;min-width:1200px;border: 0px;overflow: hidden;" src="../public/public-footer.html"></iframe>
	</body>
	<script type="text/javascript" src="../js/jquery-1.11.1.js"></script>
	<script type="text/javascript" src="../js/jquery-ui.min.js" ></script>
	<script type="text/javascript" src="../js/jquery.validate.js"></script>
	<script>
		
	</script>
</html>
