<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>轻创文学网-排行榜</title>
		
    <link rel="stylesheet" href="../css/ranking.css" />
	<link rel="stylesheet" href="../css/headerOrFooter.css" />
	<link rel="stylesheet" href="../css/main.css" />
	<link rel="stylesheet" href="../css/LOgin.css" />
	<link rel="stylesheet" href="../css/jquery-ui.min.css" />
	</head>
	<body id="app">
	  <myheader></myheader>
	  <div id="background"></div>
	  <div id="Title">
	  	<ul>
	  		<li><a class="Title_a" href="javascript:;">好人榜</a></li>
	  		<li><a class="Title_a" href="javascript:;">字数榜</a></li>
	  		<li><a class="Title_a" href="javascript:;">点击榜</a></li>
	  	</ul>
	  </div>
	  <div id="content">
	  	<div class="content_Label">
		  	<ul>
		  		<li class="active">全部</li>
		  		<li>幻想</li>
		  		<li>恋爱</li>
		  		<li>异界</li>
		  		<li>搞笑</li>
		  		<li>日常</li>
		  		<li>校园</li>
		  		<li>后宫</li>
		  		<li>推理</li>
		  		<li>科幻</li>
		  		<li>治愈</li>
		  		<li>超能力</li>
		  		<li>恐怖</li>
		  		<li>伪娘</li>
		  		<li>乙女</li>
		  		<li>同人</li>
		  		<li>悬疑</li>
		  		<li>网游</li>
		  	</ul>
	  	</div>
	  	<div class="content_Draft">
	  		<ul>
	  			<img src="../img/arrow1.png"/>
	  			<li>全部投稿</li>
	  			<li class="content_li">近期投稿</li>
	  			<li class="content_li">近期投稿</li>
	  			<li class="content_li">近期投稿</li>
	  		</ul>
	  	</div>
	  	<div class="content_List">
	  		<ul>
	  			
	  			<img src="../img/arrow1.png"/>
	  			<li>近日排行</li>
	  			<li class="List_li">日排行</li>
	  			<li class="List_li">周排行</li>
	  			<li class="List_li">月排行</li>
	  		</ul>
	  	</div>
	  	<div class="content_ranking active">
	  		<h1>1</h1>
	  		<a href="javascript:;"><img src="../img/Cover-map.jpg"/></a>
	  		<ul>
	  			<li><a href="javascript:;" class="content_a" title="巴拉拉老魔仙巴拉拉老魔仙巴拉拉老魔仙巴拉拉"><span>巴拉拉老魔仙巴拉拉老魔仙巴拉拉老魔仙巴拉拉老魔仙</span></a></li>
	  			<li>作者：huhuf5</li>
	  			<li></li>
	  			<li>点击：34.4万</li>
	  			<li>好人卡：70万</li>
	  			<li>字数：50万</li>
	  		</ul>
	  		<a class="ranking_Collection" href="javascript:;">已收藏</a>
	  	</div>
	  	<div class="content_ranking ">
	  		<h1>2</h1>
	  		<a href="javascript:;"><img src="../img/Cover-map.jpg"/></a>
	  		<ul>
	  			<li><a href="javascript:;" class="content_a" title="巴拉拉老魔仙巴拉拉老魔仙巴拉拉老魔仙巴拉拉"><span>巴拉拉老魔仙巴拉拉老魔仙巴拉拉老魔仙巴拉拉老魔仙</span></a></li>
	  			<li>作者：huhuf5</li>
	  			<li></li>
	  			<li>点击：34.4万</li>
	  			<li>好人卡：70万</li>
	  			<li>字数：50万</li>
	  		</ul>
	  		<a class="ranking_Collection" href="javascript:;">点击收藏</a>
	  	</div>
	  	<div class="content_ranking ">
	  		<h1>3</h1>
	  		<a href="javascript:;"><img src="../img/Cover-map.jpg"/></a>
	  		<ul>
	  			<li><a href="javascript:;" class="content_a" title="巴拉拉老魔仙巴拉拉老魔仙巴拉拉老魔仙巴拉拉"><span>巴拉拉老魔仙</span></a></li>
	  			<li>作者：huhuf5</li>
	  			<li></li>
	  			<li>点击：34.4万</li>
	  			<li>好人卡：70万</li>
	  			<li>字数：50万</li>
	  		</ul>
	  		<a class="ranking_Collection" href="javascript:;">点击收藏</a>
	  	</div>
	  	<div class="content_ranking ">
	  		<h1>4</h1>
	  		<a href="javascript:;"><img src="../img/Cover-map.jpg"/></a>
	  		<ul>
	  			<li><a href="javascript:;" class="content_a" title="巴拉拉老魔仙巴拉拉老魔仙巴拉拉老魔仙巴拉拉"><span>巴拉拉老魔仙</span></a></li>
	  			<li>作者：huhuf5</li>
	  			<li></li>
	  			<li>点击：34.4万</li>
	  			<li>好人卡：70万</li>
	  			<li>字数：50万</li>
	  		</ul>
	  		<a class="ranking_Collection" href="javascript:;">点击收藏</a>
	  	</div>
	  	<div class="content_ranking ">
	  		<h1>5</h1>
	  		<a href="javascript:;"><img src="../img/Cover-map.jpg"/></a>
	  		<ul>
	  			<li><a href="javascript:;" class="content_a" title="巴拉拉老魔仙巴拉拉老魔仙巴拉拉老魔仙巴拉拉"><span>巴拉拉老魔仙</span></a></li>
	  			<li>作者：huhuf5</li>
	  			<li></li>
	  			<li>点击：34.4万</li>
	  			<li>好人卡：70万</li>
	  			<li>字数：50万</li>
	  		</ul>
	  		<a class="ranking_Collection" href="javascript:;">点击收藏</a>
	  	</div>
	  	<div class="content_ranking ">
	  		<h1>6</h1>
	  		<a href="javascript:;"><img src="../img/Cover-map.jpg"/></a>
	  		<ul>
	  			<li><a href="javascript:;" class="content_a" title="巴拉拉老魔仙巴拉拉老魔仙巴拉拉老魔仙巴拉拉"><span>巴拉拉老魔仙</span></a></li>
	  			<li>作者：huhuf5</li>
	  			<li></li>
	  			<li>点击：34.4万</li>
	  			<li>好人卡：70万</li>
	  			<li>字数：50万</li>
	  		</ul>
	  		<a class="ranking_Collection" href="javascript:;">点击收藏</a>
	  	</div>
	  	<div class="content_ranking ">
	  		<h1>7</h1>
	  		<a href="javascript:;"><img src="../img/Cover-map.jpg"/></a>
	  		<ul>
	  			<li><a href="javascript:;" class="content_a" title="巴拉拉老魔仙巴拉拉老魔仙巴拉拉老魔仙巴拉拉"><span>巴拉拉老魔仙</span></a></li>
	  			<li>作者：huhuf5</li>
	  			<li></li>
	  			<li>点击：34.4万</li>
	  			<li>好人卡：70万</li>
	  			<li>字数：50万</li>
	  		</ul>
	  		<a class="ranking_Collection" href="javascript:;">点击收藏</a>
	  	</div>
	  	<div class="content_ranking ">
	  		<h1>8</h1>
	  		<a href="javascript:;"><img src="../img/Cover-map.jpg"/></a>
	  		<ul>
	  			<li><a href="javascript:;" class="content_a" title="巴拉拉老魔仙巴拉拉老魔仙巴拉拉老魔仙巴拉拉"><span>巴拉拉老魔仙</span></a></li>
	  			<li>作者：huhuf5</li>
	  			<li></li>
	  			<li>点击：34.4万</li>
	  			<li>好人卡：70万</li>
	  			<li>字数：50万</li>
	  		</ul>
	  		<a class="ranking_Collection" href="javascript:;">点击收藏</a>
	  	</div>
	  	<div class="content_ranking ">
	  		<h1>9</h1>
	  		<a href="javascript:;"><img src="../img/Cover-map.jpg"/></a>
	  		<ul>
	  			<li><a href="javascript:;" class="content_a" title="巴拉拉老魔仙巴拉拉老魔仙巴拉拉老魔仙巴拉拉"><span>巴拉拉老魔仙</span></a></li>
	  			<li>作者：huhuf5</li>
	  			<li></li>
	  			<li>点击：34.4万</li>
	  			<li>好人卡：70万</li>
	  			<li>字数：50万</li>
	  		</ul>
	  		<a class="ranking_Collection" href="javascript:;">点击收藏</a>
	  	</div>
	  		<div class="content_ranking ">
	  		<h1>10</h1>
	  		<a href="javascript:;"><img src="../img/Cover-map.jpg"/></a>
	  		<ul>
	  			<li><a href="javascript:;" class="content_a" title="巴拉拉老魔仙巴拉拉老魔仙巴拉拉老魔仙巴拉拉"><span>巴拉拉老魔仙</span></a></li>
	  			<li>作者：huhuf5</li>
	  			<li></li>
	  			<li>点击：34.4万</li>
	  			<li>好人卡：70万</li>
	  			<li>字数：50万</li>
	  		</ul>
	  		<a class="ranking_Collection" href="javascript:;">点击收藏</a>
	  	</div>
	  </div>
	  <div id="page" class="page">
	      	<ul>
	      		<li><a>上一页</a></li>
	      		<li><a>1</a></li>
	      		<li class="active"><a>2</a></li>
	      		<li><a>3</a></li>
	      		<li><a>4</a></li>
	      		<li><a>5</a></li>
	      		<li><a>下一页</a></li>
	      		<li class="goto"><input type="text"  value="" /><span>/1211</span><a>转页</a></li>
	      	</ul>
      	</div>
	<myfooter></myfooter>
	</body>
    <script src="../js/apis/vueHttp.js"></script>
  	<script src="../js/apis/conf.js"></script>
	<script type="text/javascript" src="../js/vue.min.js" ></script>
	<script type="text/javascript" src="../js/components/header.js" ></script>
	<script type="text/javascript" src="../js/components/footer.js" ></script>
	<script type="text/javascript" src="../js/require/headerOrfooter.js"></script>	
</html>
