<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>轻创文学网-注册页</title>
	</head>
	
	<link rel="stylesheet" href="../css/register.css" />
	<link rel="stylesheet" href="../css/jquery-ui.min.css" />
	    <link rel="stylesheet" href="../css/ranking.css" />
	<link rel="stylesheet" href="../css/headerOrFooter.css" />
	<link rel="stylesheet" href="../css/main.css" />
	<link rel="stylesheet" href="../css/LOgin.css" />
	
	<body id="app">
<myheader></myheader>
		<div style="position: relative;width: 100%;min-width: 1200px;">
			<img src="../img/background-jpg.jpg" style="margin-top: -55px;width: 100%;" />
			<form class="regist" id="regist"  method="get" action="">
				<img src="../img/logo-1.png" class="regist_img"/>
				<p class="line">
					<input  type="password" style="position: absolute; top: -999px" />
					<input  class="input" name="user" placeholder=" 输入手机号" autocomplete="off" />
					<img src="../img/lock-1.png"/>
				</p>
				<p class="line">
					<input name="verification" placeholder=" 输入验证码" class="regist_Veri" />
					<a class="btn verificationBtn">获取验证码</a>
				</p>
				<p class="line">
					<input class="input" type="password" name="password" placeholder=" 密码"/>
					<img src="../img/lock-png.png"/>
				</p>
				<p class="line">
          <input class="input" type="password" name="password2" placeholder=" 确认密码"/>
          <img src="../img/lock-png.png"/>
        </p>
				<p class="line">
					<input class="input" name="username" placeholder=" 昵称"  />
				</p>
				<p class="line">
					<input class="input" name="uid" placeholder=" 邀请人uid（选填）"  />
				</p>
				<input type="checkbox" checked="checked" class="regist_input"/>
				<label>用户服务协议</label>
				<p class="regist_p">立即登入</p>
				<a class="btn btn_submit">注册</a>
				<div id="popup-captcha"></div>
			</form>
		</div>
	<myfooter></myfooter>
	</body>
	<script src="../js/apis/vueHttp.js"></script>
  	<script src="../js/apis/conf.js"></script>
	<script type="text/javascript" src="../js/vue.min.js" ></script>
	<script type="text/javascript" src="../js/components/header.js" ></script>
	<script type="text/javascript" src="../js/components/footer.js" ></script>
	<script type="text/javascript" src="../js/require/headerOrfooter.js"></script>
<script type="text/javascript" src="../js/apis/conf.js"></script>	
<script type="text/javascript" src="../js/jquery-1.11.1.js"></script>

<script type="text/javascript" src="../js/jquery.validate.js"></script>
<script src="http://static.geetest.com/static/tools/gt.js"></script>
<script>
"use strict"
$(function() {
  // 主URL地址
  var Url = "http://a8397550.eicp.net:21628";

  $('.regist').animate({
    height: '512px'
  });
  $('.regist').slideDown(1000);

  $("#regist").tooltip({
    show: false,
    hide: false
  });

  // 登入框动态弹出 end
  var handlerPopup = function(captchaObj) {
    captchaObj.onReady(function() {
      $.validator.setDefaults({
        submitHandler: function() {
          captchaObj.show();
        },
        showErrors: function(map, list) {
          // there's probably a way to simplify this
          var focussed = document.activeElement;

          if (focussed && $(focussed).is("input, textarea")) {
            $(this.currentForm).tooltip("close", {
              currentTarget: focussed
            },
            true)
          }

          this.currentElements.removeAttr("title").removeClass("ui-state-highlight");
          $.each(list,
          function(index, error) {
            $(error.element).attr("title", error.message).addClass("ui-state-highlight");
          });

          if (focussed && $(focussed).is("input, textarea")) {
            $(this.currentForm).tooltip("open", {
              target: focussed
            });
          }
        }
      });
      $('.btn_submit').click(function() {
        $('#regist').submit();
      });

      $("#regist").validate({
        rules: {
          verification: {
            required: true,
            minlength: 6,
            number: true
          },
          username: "required",
          user: {
            required: true,
            minlength: 11,
            number: true
          },
          password: {
            required: true,
            minlength: 6
          },
          password2: {
            required: true,
            minlength: 6
          },
        },
        messages: {
          verification: {
            required: "此为必填项",
            minlength: "长度最小为6位！",
            number: "必须是数字"
          },
          username: "此为必填项",
          user: {
            required: "此为必填项",
            minlength: "长度最小为11位！",
            number: "必须是数字"
          },
          password: {
            required: "此为必填项",
            minlength: "长度最小为6位！"
          },
          password2: {
            required: "此为必填项",
            minlength: "长度最小为6位！"
          },
        }
      });

      $("#regist input:not(:submit)").addClass("ui-widget-content");

      $(":submit").button();

      captchaObj.onSuccess(function() {
        var validate = captchaObj.getValidate();
        if (!validate) {
          //  alert('请先完成验证！');
          //  return;
        }
        $.ajax({
          url: PathList.VerifyLoginServlet,
          // 进行二次验证
          type: "post",
          dataType: "json",
          data: {
            // 二次验证所需的三个值
            geetest_challenge: validate.geetest_challenge,
            geetest_validate: validate.geetest_validate,
            geetest_seccode: validate.geetest_seccode
          },
          success: function(data) {

            if (data && (data.status === "success")) {

              register();

            } else {
              alert('服务端验证异常！');
            }
          },
          error: function(data) {
            alert(JSON.parse(data.responseText).msg);
          },
        });

      })

    });

    // 将验证码加到id为captcha的元素里
    captchaObj.appendTo("#popup-captcha");

    // 更多接口参考：http://www.geetest.com/install/sections/idx-client-sdk.html
  };

  $('.verificationBtn').click(function() {
    var _data = {};
    _data.telephone = document.getElementsByName('user')[0].value;
    $.ajax({
      url: PathList.registerTelephoneCode',
      type: "POST",
      dataType: "JSON",
      data: _data,
      success: function(data) {
        localStorage.setItem('JSESSIONID', data.verificationId);
        location.href = Url + '/view/user_info.html';
      },
      error: function(data) {
        alert(JSON.parse(data.responseText).msg);
      }
    });
  });

  localStorage.setItem('JSESSIONID', '0dbcf052-1b86-4281-8360-60abf275c017');

  $.ajax({
    // 获取id，challenge，success（是否启用failback）
    url: PathList.StartCaptchaServlet,
    type: "get",
    dataType: "json",
    success: function(data) {

      // 使用initGeetest接口
      // 参数1：配置参数
      // 参数2：回调，回调的第一个参数验证码对象，之后可以使用它做appendTo之类的事件
      initGeetest({
        gt: data.gt,
        challenge: data.challenge,
        product: "popup",
        // 产品形式，包括：float，embed，popup。注意只对PC版验证码有效
        offline: !data.success // 表示用户后台检测极验服务器是否宕机，一般不需要关注
      },
      handlerPopup);
    }
  });
  var register = function() {
    var _data = {};
    var registCodeId = localStorage.getItem('JSESSIONID');
    _data.registCodeId = registCodeId;
    _data.telephone = document.getElementsByName('user')[0].value;
    _data.telephoneCode = document.getElementsByName('verification')[0].value;
    _data.userName = document.getElementsByName('username')[0].value;
    _data.passWord = document.getElementsByName('password')[0].value;
    _data.passWordConfirm = document.getElementsByName('password2')[0].value;
    if (document.getElementsByName('uid')[0].value !== '') {
      _data.invitePeople = document.getElementsByName('uid')[0].value;
    }
    $.ajax({
      url: PathList.register,
      type: "POST",
      dataType: "JSON",
      data: _data,
      success: function(data) {
	  	localStorage.setItem('JSESSIONID', result.msg);
        location.href = PathList.TemprootPath + '/view/user_info.html';
      },
      error: function(data) {
        alert(JSON.parse(data.responseText).msg);
      }
    });
  };

});		
</script>
</html>
